---
---
<header class="header">
    <div class="top-bar bg-dark text-white">
        <div class="container top-bar__container">
            <div class="top-bar__left">
                <span>📍 Torrevieja · Vega Baja</span>
            </div>
            <div class="top-bar__right">
                <a href="mailto:info@limpiezastorrenueva.com"><svg class="top-bar-icon" viewBox="0 0 24 24">
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                    </svg> info@limpiezastorrenueva.com</a>
                <span class="separator">|</span>
                <a href="tel:+34604438618"><svg class="top-bar-icon" viewBox="0 0 24 24">
                        <path
                            d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" />
                    </svg> 604 438 618</a>
            </div>
        </div>
    </div>
    <div class="container header__container">
        <a href="/" class="logo">
            <img src="/logo.png" alt="Limpiezas Torrenueva Logo" class="logo__img">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Inicio</a></li>
                <li class="nav__item"><a href="/servicios" class="nav__link">Servicios</a></li>
                <li class="nav__item"><a href="/maquinas" class="nav__link">Máquinas</a></li>
                <li class="nav__item"><a href="/empresa" class="nav__link">Empresa</a></li>
                <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="/testimonios" class="nav__link">Testimonios</a></li>
                <li class="nav__item"><a href="/zonas" class="nav__link">Zonas</a></li>
                <li class="nav__item"><a href="/faq" class="nav__link">FAQ</a></li>
                <li class="nav__item"><a href="/contacto" class="nav__link button button--primary">Pedir
                        Presupuesto</a></li>
            </ul>
        </nav>
        <button class="menu-toggle" aria-label="Abrir menú">
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
        </button>
    </div>
</header>
