---
import '../styles/global.css'; // Import global styles
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpiezas Torrenueva | Empresas de limpieza en Torrevieja</title>
    <meta name="description" content="Empresa de limpieza en Torrevieja especializada en comunidades, garajes, cristaleras y grandes superficies. Limpieza técnica profesional.">
    <meta name="keywords" content="empresas de limpieza en torrevieja, limpieza comunidades torrevieja, limpieza garajes torrevieja, empresa limpieza vega baja, servicios de limpieza">
    <meta name="author" content="Limpiezas Torrenueva">
</head>
<body>
    <Header />
    
    <slot />

    <Footer />

    <!-- WhatsApp Button -->
    <a href="https://wa.me/34604438618" class="whatsapp-btn" target="_blank" aria-label="Chat en WhatsApp">
        <img src="/whatsapp_btn.png" alt="WhatsApp">
    </a>

    <!-- Imports scripts safely -->
    <script>
      import "../scripts/script.js";
    </script>
</body>
</html>
