---
import '../styles/global.css'; // Import global styles
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa de Limpieza en Torrevieja | Limpiezas Torrenueva</title>
    <meta name="description" content="¿Buscas empresa de limpieza en Torrevieja? Somos especialistas en limpieza en Torrevieja, grandes superficies, comunidades, garajes y alquiler de máquinas limpiadoras en Torrevieja. Limpiadores en Torrevieja con años de experiencia.">
    <meta name="keywords" content="empresa de limpieza en torrevieja, limpieza en torrevieja, maquinas limpiadoras en torrevieja, empresa de limpieza en grandes superficies en torrevieja, limpiadores en torrevieja, limpiezas torrenueva, torrevieja limpieza">
    <meta name="author" content="Limpiezas Torrenueva">
</head>
<body>
    <Header />
    
    <slot />

    <Footer />

    <!-- WhatsApp Button -->
    <a href="https://wa.me/34604438618" class="whatsapp-btn" target="_blank" aria-label="Chat en WhatsApp">
        <img src="/whatsapp_btn.png" alt="WhatsApp">
    </a>

    <!-- Imports scripts safely -->
    <script>
      import "../scripts/script.js";
    </script>
</body>
</html>
